#areas{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-01);
}

.areas-box{
    padding: 5vh 0;
    max-width: var(--max-width-box);
}

.areas-box-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.areas-box-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    text-align: justify;
    color: var(--color-01);
    min-height: 450px;
}

.areas-box-card h3{
  text-transform: capitalize;
  font-size: var(--h3-font-size);
  position: relative;
  display: flex;
  justify-content: center;
}

.areas-box-card h3::after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 1px;
    width: 50px;
    background-color: white;
    transition: 0.5s ease-in-out;
}
.areas-box-card p{
    font-size: var(--f1-font-size);
}

.card01{
    background-color: var(--color-03);
}
.card02{
    background-color: var(--color-02);
}

.areas-box-card button{
    background-color: transparent;
    padding: 1rem 2rem;
}

.areas-box-card button a{
    text-decoration: none;
    padding: 1rem 2rem;
    border: solid 1px var(--color-01);
    background-color: transparent;
}
.areas-box-card button a span{
    color: var(--color-01);
    font-size: var(--f1-font-size);
}

.areas-box-card img{
    max-width: 20%;
    height: auto;
}

@media screen and (max-width: 1160px) {
    .areas-box-cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .areas-box-cards{
        grid-template-columns: 1fr;
    }

    .areas-box-card{
        justify-content: center;
    }
}