#home {
    height: 100vh;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/banner_01.jpg);
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#home::after {
    content: '';
    width: inherit;
    max-height: inherit;
    position: absolute;
    inset: 0;
    background: #17191f70;
}

.home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    width: var(--max-width);
    z-index: 1;
}

.home-box h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    color: var(--color-01);
    text-shadow: black 0.1em 0.1em 0.2em;

}

.home-box p {
    font-size: var(--f1-font-size);
    max-width: 900px;
    color: var(--bg-color);
    line-height: 150%;

    text-shadow: black 0.1em 0.1em 0.2em;

}


.home-box button {
    background-color: transparent;
}

.home-box button a {
    padding: 1rem 2rem;
    font-size: var(--f1-font-size);
    text-decoration: none;
    color: var(--color-01);
    font-weight: 100;
    border: solid 2px var(--color-01);
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-box button a:hover {
    color: var(--color-03);
    font-weight: 100;
    background-color: var(--color-01);
    border: solid 2px var(--color-01);
}